* {
    padding: 10px;
    margin: 20px;
}
/* tag that has a specific class */
/* p.description 
    color: red;
}{ */



/* p, .description 
    color: red;
}{ */

    /* parent-child */
div p {
    color: blue;
}

